:root {
  --bg: #212121;
  --accent-bg: #2B2B2B;
  --text: #DCDCDC;
  --text-light: #ABABAB;
  --border: #666;
  --accent: hsl(120, 50%, 20%);
  --accent-light: hsl(120, 60%, 20%);
  --code: #F06292;
  --preformatted: #CCC;
  --disabled: #111;
}
