{{ template "layout" }}

{{ define "scripts" }}
<script type="module" src="/static/js/devices.js"></script>
{{ end }}

{{ define "content" }}
<h2>Private mode</h2>
<form id="private-mode">
</form>

<h2>Add new device</h2>
<form id="device-form">
  <p><strong class="err-msg"></strong></p>

  <p class="device-form-elem">
    <label for="tag-form">Tag</label><br>
    <input type="text" id="tag-form" name="tag" required>
  </p>

  <p class="device-form-elem">
    <label for="mac-form">MAC</label><br>
    <input type="text" id="mac-form" name="mac" required>
  </p>

  <button type="submit">Submit</button>
</form>

<hr>

<h2>Devices list</h2>
<ul class="devices">
</ul>
{{ end }}
