{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>long-season</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ range $style := .Styles }}
      <style>{{ $style }}</style>
    {{ end }}
    {{ range $script := .Scripts }}
      <script>{{ $script }}</script>
    {{ end }}
  </head>
  <body>
    <nav class="container">
    </nav>
    <main>
      <h1>long-season</h1>
      {{ block "content" . }}{{ end }}
    </main>
  </body>
</html>
{{ end }}
