{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark light">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>long-season</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="/static/neat.css">
    <link rel="stylesheet" href="/static/custom.css">
    {{ if .Layout.PrideMonth }}
      <link rel="stylesheet" href="/static/pride.css">
    {{ end }}
    <script type="module" src="/static/js/navbar.js"></script>
    {{ block "scripts" . }}{{ end }}
  </head>
  <body>
    <header>
      <a class="home" href="/">・ᴥ・</a>

      <h1>{{ .Layout.Space }}@{{ .Layout.City }}:~$</h1>

      <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </nav>
    </header>

    <main>
      {{ block "content" . }}{{ end }}
    </main>

    <footer>
      <p><a href="https://github.com/hakierspejs/long-season">long-season</a> created by <a href="https://hs-ldz.pl">hakierspejs lodz</a></p>
    </footer>
  </body>
</html>
{{ end }}
