{{ template "layout" }}

{{ define "scripts" }}
<script src="/static/js/register.js" defer></script>
{{ end }}

{{ define "content" }}
<form id="register-form">
    <p><strong class="err-msg"></strong></p>

    <p>
      <label for="nickname">Login</label><br>
      <input type="text" id="nickname" name="nickname" class="login-input" minlength="4" maxlength="32" pattern="[A-Za-z0-9]+" required>
    </p>

    <p>
      <label for="password" class="password-label">Password</label><br>
      <input type="password" id="password" name="password" class="password-input" minlength="6" maxlength="50" required>
    </p>

    <p>
      <label for="r-password" class="r-password-label">Repeat Password</label><br>
      <input type="password" id="r-password" name="r-password" class="r-password-input">
    </p>

    <button type="submit">Submit</button>
  </div>
</form>

{{ end }}
