/*
 * Variables with colors used for site theme.
 */
:root {
  --lg-3: #d6fad4;
  --lg-2: #1b9b12;
  --lg-1: #146f0d;
  --ng-0: #0e4e09;
  --dg-1: #082c05;
  --dg-2: #041603;
  --dg-3: #020b01;
}

html {
  background-color: var(--dg-3);
  background: linear-gradient(to top, var(--dg-2) 5%, var(--dg-3) 40%);
  color: var(--lg-1);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "Lucida Console", monospace;
  display: block;
  margin: auto;
  max-width: 70ch;
  padding: 2ch;
}

* {
  box-sizing: border-box;
}

h2::before,
h1::before {
  content: "$";
  padding-right: 1rem;
}

button {
  border: 2px solid var(--lg-1);
  color: var(--lg-3);
  background-color: var(--ng-0);
  display: inline-block;
  padding: 0.5ch;
  margin: 0.5ch;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  border: 2px solid var(--ng-0);
  color: var(--dg-3);
  background-color: var(--lg-1);
}

input {
  background-color: var(--ng-0);
  color: var(--lg-3);
  margin: 0.5ch;
  padding: 0.5ch;
}

fieldset {
  border: 2px solid var(--lg-2);
  max-width: 20ch;
}

/*
 * Grid styles for login form.
 */

.grid-form {
  grid-gap: 1ch 1ch;
  display: grid;
  grid-template-rows: repeat(3, 4ch);
  grid-template-columns: 10ch auto;
  grid-template-areas:
    "login-label login-input"
    "password-label password-input"
    "button button";

  justify-items: stretch;
  align-items: center;

  justify-content: stretch;
  align-content: space-around;
}

.login-label {
  grid-area: login-label;
}

.login-input {
  grid-area: login-input;
}

.password-label {
  grid-area: password-label;
}

.password-input {
  grid-area: password-input;
}

.button-area {
  grid-area: button;
}

.err-msg {
  color: var(--lg-3);
  margin-bottom: 2ch;
}

/*
 * Grid styles for register form.
 */

.grid-form-register {
  grid-gap: 1ch 1ch;
  display: grid;
  grid-template-rows: repeat(4, 5ch);
  grid-template-columns: 10ch auto;
  grid-template-areas:
    "login-label login-input"
    "password-label password-input"
    "r-password-label r-password-input"
    "button button";

  justify-items: stretch;
  align-items: center;

  justify-content: stretch;
  align-content: space-around;
}

.r-password-label {
  grid-area: r-password-label;
}

.r-password-input {
  grid-area: r-password-input;
}

/*
 * Flexbox styles for navigation bar.
 */

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.at {
  flex-grow: 8;
}

.elem {
  flex-grow: 1;
}

.elem::before {
  content: "[";
  padding-right: 0.5em;
}

.elem::after {
  content: "]";
  padding-left: 0.5em;
}

/*
 * Custom links.
 */

a {
  color: var(--lg-2);
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

.devices {
  width: 60%;
}

.device::before {
  content: ">";
  flex-grow: 1;
}

.device {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.device-name {
  flex-grow: 10;
}

.device-rm {
  flex-grow: 2;
  text-align: end;
}


/*
 * Simple queries for mobile devices.
 */

@media only screen and (max-width: 500px) {
  .elem {
    padding-top: 1em;
  }
  .container {
    align-items: flex-start;
    flex-direction: column;
  }
}
